.appTitle {
  display: inline-block;
  margin-top: 20px;
  margin-left: 30px;
}

.mainWinFormTitle {
  margin-left: 100px;
  margin-top: 200px;
  font-size: xxx-large;
}
/*
  Profile Nav Component
*/
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: right;
  display: inline-block;
  margin-top: -60px;
  margin-right: 30px;
}

.profileMenu {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.profileMenuContent {
  float: right;
  margin-top: 70px;
  margin-right: 20px;
}

.profileMenuLinks {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 200px;
  background-color: #f1f1f1;
}

.profileMenuLinks a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.profileMenuLinks a:hover {
  background-color: #555;
  color: white;
}

.active {
  background-color: #04AA6D;
  color: white;
}

/*
 * PROFILE PAGE
 */
 .leftProfileColumn {
   float: left;
   width: 30%;
   padding: 10px;
   background-color:#dde1e1;
   margin-left: 30px;
 }

 .rightProfileColumn {
   float: left;
   width: 70%;
   padding: 10px;
   margin-left: 30px;
 }

 .dot {
  height: 5px;
  width: 5px;
  background-color: #c1c8c8;
  border-radius: 50%;
  display: inline-block;
 }

 .contentMenuContent {
   float: right;
   position: absolute;
   z-index: 10;
 }

 .contentMenuLinks {
   list-style-type: none;
   padding: 0;
   margin: 0;
   width: 200px;
   background-color: #f1f1f1;
 }

 .contentMenuLinks a {
   display: block;
   color: #000;
   padding: 8px 16px;
   text-decoration: none;
 }

 .contentMenuLinks a:hover {
   background-color: #555;
   color: white;
 }

/*
  >>> LOG-IN MODAL
*/

.loginModal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginModalContent {
  width: 500px;
  background-color: #fff;
}

.loginModalHeader,
.loginModalFooter {
  padding: 10px;
}

.loginModalTitle {
  margin: 0;
}

.loginModalBody {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
